.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1001;
  position: relative;
}


.hamburgerLine {
  width: 100%;
  height: 3px;
  background-color: var(--color-green-darker);
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: center;
  position: absolute;
}

.hamburgerLine:nth-child(1) {
  top: 0;
}

.hamburgerLine:nth-child(2) {
  top: 10px;
  height: 2px;
}

.hamburgerLine:nth-child(3) {
  top: 20px;
}

.hamburger.open .hamburgerLine:nth-child(1) {
  transform: rotate(45deg) ;
  opacity: 1;
  top: 10px;
}

.hamburger.open .hamburgerLine:nth-child(2) {
  opacity: 0;
  transform: translateX(-100%);
}

.hamburger.open .hamburgerLine:nth-child(3) {
  transform: rotate(-45deg) ;
  opacity: 1;
  top: 10px;
}

    .closeButton {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 2rem;
      color: var(--color-green-darker);
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 2;
    }

        
    
  