.not_found_container {
    width: 100%;
    max-width: 361px;
    margin-bottom: 72px;
}

.main_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 361px;
    height: 299px;
    padding: 12px;
    background-color: var(--color-light-green);
    border-radius: 32px;
}

.not_found_title {
    margin-top: 16px;
    display: block;
    font-family: var(--ff-manrope);
    font-weight: 700;
    font-size: 24px;
    color: var(--color-black);
    margin-bottom: 16px;
}

.not_found_text {
    font-family: var(--ff-manrope);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.55;
    color: var(--color-black);
}

.redirect_link {
    display: block;
    text-align: center;
    font-family: var(--ff-manrope);
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    color: var(--color-green-darker);
    border: 1px solid #374f42;
    border-radius: 64px;
    width: 100%;
    max-width: 337px;
    padding: 8px;
    transition: var(--transition);
}

.redirect_link:hover,
.redirect_link:focus {
    background-color: var(--color-green-darker);
    color: white;
}

@media only screen and (min-width: 768px) {
    .not_found_container {
        width: 704px;
    }
    .main_container {
        width: 514px;
    }
    .redirect_link {
        width: 490px;
    }
}

@media only screen and (min-width: 1440px) {
    .not_found_container {
        width: 1224px;
    }
    .main_container {
        width: 497px;
    }
    .redirect_link {
        width: 473px;
    }
}