.articleButton{
    justify-content: center;
    align-items: center;

    border-radius: 64px;
    padding: 12px 16px;
    width: 161px;
    height: 46px;

    font-family: var(--ff-manrope);
    font-weight: var(--fw-bold);
    font-size: 16px;
    color: var( --color-white-bg);
    
    background: var( --color-green);

}
.articleButton:hover{
    background-color: var(--color-green-darker);
    color: var( --color-white-bg);    
  }