.userContainer {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 16px;
  color: var(--color-green-darker);
}
.userSpan {
  height: 39px;
  width: 1px;
  background-color: var(--color-green-darker);
}

.userName {
  font-family: var(--ff-manrope);
  font-weight: var(--fw-bold);
  font-size: 12px;
  color: var(--color-green-darker);
}

.exitBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.userAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
    border-radius: 256px;
    width: 32px;
    height: 32px;
}
.userLetter {
  font-family: var(--ff-manrope);
  font-weight: var(--fw-bold);
  font-size: 16px;
  color: var(--color-white-bg);
  display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    border-radius: 256px;
    width: 32px;
    height: 32px;
}

.userLink {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  
}
