button:disabled {
  cursor: not-allowed;
  background-color: transparent;
  border: 1px solid #374f42;
}

.save_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: var(--transition);
  border: inherit;
  border: 1px solid #374f42;
  color: inherit;
  color: #374f42;
}

.saved_button {
  background-color: var(--color-green);
  color: #f7fffb;
  border: none;
}

.save_button:hover {
  background: #374f42;
  border: none;
  color: white;
}