.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-green-darker);
  border-radius: 64px;
  padding: 8px;
  width: 40px;
  height: 40px;
  background: var(--color-light-green);
  transition: var(--transition);
}

.saveBtn:hover {
  transform: scale(1.1);
  background-color: var(--color-green-darker);

  color: white;
}

.saveBtn svg:hover {
  fill: white;
}

.active {
  background: var(--color-green);
  border-color: var(--color-green);
}

.active img {
  fill: var(--color-green);
  stroke: var(--color-white-bg);
}

.active svg path {
  stroke: var(--color-white-bg);
}
