/* Mobile-first default */
.container {
  min-width: 320px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/* Phone */
@media only screen and (min-width: 393px) {
  .container {
    max-width: 393px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    /* 1440 - 2 * 107.5 */
    padding-left: 107.5px;
    padding-right: 107.5px;
  }
}
