/* Mobile-first default */
.container {
  min-width: 320px;
  max-width: 100%;
  margin-inline: auto;
  padding-inline: 16px;
}

/* Phone */
@media only screen and (min-width: 393px) {
  .container {
    max-width: 393px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-inline: 107px;
  }
}
