@import './reset.css';
@import './_variables.module.css';
@import './container.css';

html,
body,
#root {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-manrope);
  line-height: 1.5;
  background-color: var(--color-white-bg);
  color: var(--color-text);
}

main {
  flex-grow: 1;
}
* {
  transition: all var(--transition);
}
