@import '/src/assets/styles/_variables.module.css';

.form {
  background: var(--color-light-green);
  padding: 32px;
  border-radius: 32px;
  text-align: center;
  width: 100%;
  min-width: 360px;
  position: relative;
}
.wrapper {
  padding-block: 20px;
}
.closeBtn {
  position: absolute;
  top: 21px;
  right: 21px;
  background: none;
  border: none;
  cursor: pointer;
}

.mainText {
  font-size: 32px;
  margin-bottom: 20px;
}

.fileInputWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  background-color: var(--color-green);
  border-radius: 50%;
  width: 136px;
  height: 136px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.fileInputWrapper input[type='file'] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: 20px;
  cursor: pointer;
}

.photoIcon {
  width: 48px;
  height: 48px;
  color: white;
}

.preview {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previewWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.editIcon {
  position: absolute;
  bottom: 10%;
  right: 30%;
  left: 30%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.7;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  position: absolute;
  left: 20;
  margin: 0;
}

.saveBtn {
  padding: 8px;
  width: 100%;
  height: 38px;
  background: var(--color-green);
  border: none;
  border-radius: 64px;
  color: var(--color-white-bg);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  margin-top: 15px;
}

.saveBtn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.labelChangeInfo {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  text-align: left;
}

.inputChangeInfo {
  width: 100%;
  padding: 8px 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.seePass {
  position: absolute;
  right: 12px;
  cursor: pointer;
  fill: #020202;
  pointer-events: auto;
  transition: fill 0.2s;
}

@media (min-width: 768px) {
  .form {
    padding: 48px 32px;
  }
}

@media (min-width: 1440px) {
  .form {
  }
}
